
ion-content, ion-item,ion-img {
    --background: url("src/assets/icon/background-p2.jpg") 100% 100% no-repeat !important;
    
}
ion-input,ion-label{
    --color: #fff;
    --placeholder-color:#fff;
}

.item{
    background: transparent;

}