<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <img class="circle-pic" src="./assets/icon/profilelogo.png" />
  <ion-grid>
    <ion-row>
      <ion-col ion-item>
        <ion-label color="primary"><b>Username</b></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item>
        <ion-label>Username</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
        <div style="border-bottom: 1px solid #000;margin: 5% 15%;"></div>
        <!-- <svg height="200" width="600">
                    <line x1="0" y1="200" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:3" />
                    Sorry, your browser does not support inline SVG.
                  </svg> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
        email@email.com
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
        9923645632
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
        <ion-label color="primary">MY STATS</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
        <ion-label>240</ion-label><br />
        <ion-icon name="camera"></ion-icon>
        Videos
      </ion-col>
      <ion-col ion-item text-center>
        <ion-label>100</ion-label><br />
        <ion-icon name="share-alt"></ion-icon> Shares
      </ion-col>
      <ion-col ion-item text-center>
        <ion-label>210</ion-label><br />
        <ion-icon name="eye"></ion-icon>Views
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
        <ion-label color="primary">Logout</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>